<section id="slider-sec" class="slider-reg">
    <div class="main-flex-slider" flex-slider>
        <ul class="slides">
            <li>
                <figure>
                    <img src="assets/img/img-1.jpg" class="img-responsive" alt="slider-img-1">
                    <figcaption class="slider-overlay ">
                        <div class="slider-text animated fadeInDown">
                            <h1>Bem vindo ao mundo</h1>
                            <p>
                                do desenvolvimento de liderança
                            </p>
                            <p class="slide-btn"><a href="#" class="btn btn-white btn-lg">Saiba como</a></p>
                        </div>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <img src="assets/img/img-2.jpg" class="img-responsive" alt="slider-img-1">
                    <figcaption class="slider-overlay">
                        <div class="slider-text">
                            <h1>Desenvolva seu potencial!</h1>
                            <p>
                                Uma liderança sustentável é a solução para um futuro melhor.
                            </p>
                            <p class="slide-btn"><a href="#" class="btn btn-white btn-lg">Saiba Mais</a></p>
                        </div>
                    </figcaption>
                </figure>
            </li>
            <li>
                <figure>
                    <img src="assets/img/img-3.jpg" class="img-responsive" alt="slider-img-1">
                    <figcaption class="slider-overlay">
                        <div class="slider-text">
                            <h1>Intercâmbio sem sair de casa</h1>
                            <p>
                                Hospede um intercâmbista e viva o mundo em sua casa.
                            </p>
                            <p class="slide-btn"><a href="#" class="btn btn-white btn-lg">Contact us</a></p>
                        </div>
                    </figcaption>
                </figure>
            </li>
        </ul>
    </div>
</section><!--main flex slider end-->
<div class="space-50"></div>
<div class="container">

  <div class="row">
    <div class="col-md-12 col-md-offset-1 search_op">
      <div class="form-section">
        <div class="row adjust_btm">
            <form role="form">
              <div class="col-md-6 col-sm-12">
                <div class="form-group">
                  <label class="sr-only" for="location">Local</label>
                  <ui-select multiple tagging="tagTransform" ng-model="selectedFilters.selected" theme="bootstrap" title="O que lhe interessa?">
                    <ui-select-match placeholder="O que lhe interessa?">{{$item.name}}</ui-select-match>
                    <ui-select-choices repeat="tag in filters | propsFilter: {name: $select.search} track by tag.name" group-by="'type'">
                      <div ng-bind-html="tag.name"></div>
                      <small>
                        Tipo: {{tag.type}}
                      </small>
                    </ui-select-choices>
                  </ui-select>
                </div>
              </div>
              <div class="col-md-2 col-sm-12">
                <div class="form-group">
                  <label class="sr-only" for="checkin">Ida</label>
                  <div class="input-group" ng-model="start_date" date-picker>
                    <input type='text' class="form-control" placeholder="Data de ida"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-12">
                <div class="form-group">
                  <label class="sr-only" for="checkout">Volta</label>
                  <div class="input-group" ng-model="end_date" date-picker>
                    <input type='text' class="form-control" placeholder="Data de retorno"/>
                    <span class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </span>
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-12">
                <button type="submit" class="btn btn-primary btn-lg" ng-click="search()"><i class="ion-search"></i> Procurar</button>
              </div>
            </form>
        </div>
      </div>
    </div>
  </div>
      

    <div class="space-50 ng-scope"></div>
    <div class="col-md-12 text-center wow animated fadeInUp animated padding_zero" style="visibility: visible; animation-name: fadeInUp;">
        <h2 class="title_home">Trabalhe em uma <strong>ONG</strong></h2>
        <h3 class="title_home subtitle">Os períodos disponíveis variam de 6 a 8 semanas</h3>
    </div>
  
    <div class="space-20 ng-scope"></div>
    <div id="gv" class="row" slider><!-- DIV -->
        <div class="container text-center  col-sm-12" ng-show="lists[0].length == 0">
          <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
          </svg>
        </div>
        <div class="col-md-3" ng-repeat="gv in lists[0]"> <!-- CARD -->
            <div class="card radius shadowDepth1">
                <div class="card__image border-tlr-radius">
                    <img src="{{gv.cover_photo_urls}}" alt="image" class="border-tlr-radius">
                </div>

                <div class="card__content card__padding">
                    <div class="card__share">
                        <a id="share" class="ion-plus-round share-icon" href="#/oportunidade/{{gv.id}}"></a>
                    </div>

                    <div class="card__meta">
                        <p class="nomargin"><a href="#"><i class="ion-location"></i> {{gv.location | limitTo:20}}{{gv.location.length > 20 ? '...' : ''}}</a></p>
                    </div>

                    <article class="card__article">
                        <h2 class="cardmix"><a href="#/oportunidade/{{gv.id}}">{{gv.title | limitTo:28}}{{gv.title.length > 28 ? '...' : ''}}</a></h2>
                    </article>
                    <div class="card__meta2">
                        <p class="nomargin">Início a partir de {{gv.earliest_start_date | date:'dd/MM/yyyy'}}</p>
                    </div>

                    <div class="card__meta">
                        <p class="nomargin"><i class="ion-clock"></i> {{gv.duration_max}} semanas</p>
                    </div>

                </div>
            </div>

        </div> <!-- CARD End -->

    </div><!-- DIV Slider End-->


    <div class="space-50 ng-scope"></div>
    <div class="col-md-12 text-center wow animated fadeInUp animated padding_zero" style="visibility: visible; animation-name: fadeInUp;">
        <h2 class="title_home">Trabalhe em uma <strong>Startup</strong></h2>
        <h3 class="title_home subtitle">Os períodos disponíveis variam de 8 a 12 semanas</h3>
    </div>
    <div class="space-20 ng-scope"></div>

    <div id="ge" class="row" slider><!-- DIV -->
        <div class="container text-center  col-sm-12" ng-show="lists[1].length == 0">
          <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
          </svg>
        </div>
        <div class="col-md-3" ng-repeat="ge in lists[1]"> <!-- CARD -->
            <div class="card radius shadowDepth1">
                <div class="card__image border-tlr-radius">
                    <img src="{{ge.cover_photo_urls}}" alt="image" class="border-tlr-radius">
                </div>

                <div class="card__content card__padding">
                    <div class="card__share">
                        <a id="share" class="ion-plus-round share-icon" href="#/oportunidade/{{ge.id}}"></a>
                    </div>

                    <div class="card__meta">
                        <p class="nomargin"><a href="#"><i class="ion-location"></i> {{ge.location | limitTo:20}}{{ge.location.length > 20 ? '...' : ''}}</a></p>
                    </div>

                    <article class="card__article">
                        <h2 class="cardmix"><a href="#/oportunidade/{{ge.id}}">{{ge.title | limitTo:28}}{{ge.title.length > 28 ? '...' : ''}}</a></h2>
                    </article>
                    <div class="card__meta2">
                        <p class="nomargin">Início a partir de {{ge.earliest_start_date | date:'dd/MM/yyyy'}}</p>
                    </div>

                    <div class="card__meta">
                        <p class="nomargin"><i class="ion-clock"></i> {{ge.duration_max}} semanas</p>
                    </div>

                </div>
            </div>

        </div> <!-- CARD End -->
    </div><!-- DIV Slider End-->


    <div class="space-50 ng-scope"></div>
    <div class="col-md-12 text-center wow animated fadeInUp animated padding_zero" style="visibility: visible; animation-name: fadeInUp;">
        <h2 class="title_home">Trabalhe em uma <strong>Empresa</strong></h2>
        <h3 class="title_home subtitle">Os períodos disponíveis variam de 12 a 36 semanas</h3>
    </div>
    <div class="space-20 ng-scope"></div>
    <div id="gt" class="row" slider><!-- DIV -->
        <div class="container text-center  col-sm-12" ng-show="lists[2].length == 0">
          <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg">
            <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
          </svg>
        </div>
        <div class="col-md-3" ng-repeat="gt in lists[2]"> <!-- CARD -->
            <div class="card radius shadowDepth1">
                <div class="card__image border-tlr-radius">
                    <img src="{{gt.cover_photo_urls}}" alt="image" class="border-tlr-radius">
                </div>

                <div class="card__content card__padding">
                    <div class="card__share">
                        <a id="share" class="ion-plus-round share-icon" href="#/oportunidade/{{gt.id}}"></a>
                    </div>

                    <div class="card__meta">
                        <p class="nomargin"><a href="#"><i class="ion-location"></i> {{gt.location | limitTo:20}}{{gt.location.length > 20 ? '...' : ''}}</a></p>
                    </div>

                    <article class="card__article">
                        <h2 class="cardmix"><a href="#/oportunidade/{{gt.id}}">{{gt.title | limitTo:28}}{{gt.title.length > 28 ? '...' : ''}}</a></h2>
                    </article>
                    <div class="card__meta2">
                        <p class="nomargin">Início a partir de {{gt.earliest_start_date | date:'dd/MM/yyyy'}}</p>
                    </div>

                    <div class="card__meta">
                        <p class="nomargin"><i class="ion-clock"></i> {{gt.duration_max}} semanas</p>
                    </div>

                </div>
            </div>

        </div> <!-- CARD End -->
    </div><!-- DIV Slider End-->


</div><!--intro with services end-->
<div class="space-70"></div><div class="space-30"></div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="heading-sec">Sugestões de Destinos</h3>
        </div>
    </div><!--row-->
    <div id="country_partners" class="row slich_slider" slider>
        <div class="col-md-4 col-sm-6 margin-btm-40">
            <div class="portfolio-sec">
                <div class="portfolio-thumnail">
                    <a href="#/oportunidades?home_mcs=1551">
                        <img src="assets/img/countries/colombia1.jpg" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="portfolio-desc text-center">
                    <h4 class="portfolio-post-title">Colômbia</h4>
                    <span class="portfolio-post-cat">Global Volunteer</span>
                    <h4><a href="#/oportunidades?home_mcs=1551" class="btn theme-btn-default btn-lg">Ver Oportunidades</a></h4>
                </div>
            </div>
        </div><!--portfolio item -->
        <div class="col-md-4 col-sm-6 margin-btm-40">
            <div class="portfolio-sec">
                <div class="portfolio-thumnail">
                    <a href="#/oportunidades?home_mcs=1553">
                        <img src="assets/img/countries/peru2.jpg" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="portfolio-desc text-center">
                    <h4 class="portfolio-post-title">Peru</h4>
                    <span class="portfolio-post-cat">Global Volunteer</span>
                    <h4><a href="#/oportunidades?home_mcs=1553" class="btn theme-btn-default btn-lg">Ver Oportunidades</a></h4>
                </div>
            </div>
        </div><!--portfolio item -->
        <div class="col-md-4 col-sm-6 margin-btm-40">
            <div class="portfolio-sec">
                <div class="portfolio-thumnail">
                    <a href="#/oportunidades?home_mcs=1585">
                        <img src="assets/img/countries/india1.png" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="portfolio-desc text-center">
                    <h4 class="portfolio-post-title">Índia</h4>
                    <span class="portfolio-post-cat">Global Volunteer</span>
                    <h4><a href="#/oportunidades?home_mcs=1585" class="btn theme-btn-default btn-lg">Ver Oportunidades</a></h4>
                </div>
            </div>
        </div><!--portfolio item -->
        <div class="col-md-4 col-sm-6 margin-btm-40">
            <div class="portfolio-sec">
                <div class="portfolio-thumnail">
                    <a href="#/oportunidades?home_mcs=1560">
                        <img src="assets/img/countries/romenia1.jpg" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="portfolio-desc text-center">
                    <h4 class="portfolio-post-title">Romênia</h4>
                    <span class="portfolio-post-cat">Global Volunteer</span>
                    <h4><a href="#/oportunidades?home_mcs=1560" class="btn theme-btn-default btn-lg">Ver Oportunidades</a></h4>
                </div>
            </div>
        </div><!--portfolio item -->
        <div class="col-md-4 col-sm-6 margin-btm-40">
            <div class="portfolio-sec">
                <div class="portfolio-thumnail">
                    <a href="#/oportunidades?home_mcs=1582">
                        <img src="assets/img/countries/panama1.jpg" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="portfolio-desc text-center">
                    <h4 class="portfolio-post-title">Panamá</h4>
                    <span class="portfolio-post-cat">Global Talent</span>
                    <h4><a href="#/oportunidades?home_mcs=1582" class="btn theme-btn-default btn-lg">Ver Oportunidades</a></h4>
                </div>
            </div>
        </div><!--portfolio item -->
        <div class="col-md-4 col-sm-6 margin-btm-40">
            <div class="portfolio-sec">
                <div class="portfolio-thumnail">
                    <a href="#/oportunidades?home_mcs=1596">
                        <img src="assets/img/countries/alemanha1.jpg" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="portfolio-desc text-center">
                    <h4 class="portfolio-post-title">Alemanha</h4>
                    <span class="portfolio-post-cat">Global Talent</span>
                    <h4><a href="#/oportunidades?home_mcs=1596" class="btn theme-btn-default btn-lg">Ver Oportunidades</a></h4>
                </div>
            </div>
        </div><!--portfolio item -->
        <div class="col-md-4 col-sm-6 margin-btm-40">
            <div class="portfolio-sec">
                <div class="portfolio-thumnail">
                    <a href="#/oportunidades?home_mcs=1622">
                        <img src="assets/img/countries/turquia1.jpg" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="portfolio-desc text-center">
                    <h4 class="portfolio-post-title">Turquia</h4>
                    <span class="portfolio-post-cat">Global Talent</span>
                    <h4><a href="#/oportunidades?home_mcs=1622" class="btn theme-btn-default btn-lg">Ver Oportunidades</a></h4>
                </div>
            </div>
        </div><!--portfolio item -->
        <div class="col-md-4 col-sm-6 margin-btm-40">
            <div class="portfolio-sec">
                <div class="portfolio-thumnail">
                    <a href="#/oportunidades?home_mcs=1535">
                        <img src="assets/img/countries/argentina1.jpg" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="portfolio-desc text-center">
                    <h4 class="portfolio-post-title">Argentina</h4>
                    <span class="portfolio-post-cat">Global Entrepreneur</span>
                    <h4><a href="#/oportunidades?home_mcs=1535" class="btn theme-btn-default btn-lg">Ver Oportunidades</a></h4>
                </div>
            </div>
        </div><!--portfolio item -->
        <div class="col-md-4 col-sm-6 margin-btm-40">
            <div class="portfolio-sec">
                <div class="portfolio-thumnail">
                    <a href="#/oportunidades?home_mcs=1598">
                        <img src="assets/img/countries/mexico1.jpg" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="portfolio-desc text-center">
                    <h4 class="portfolio-post-title">Mexico</h4>
                    <span class="portfolio-post-cat">Global Entrepreneur</span>
                    <h4><a href="#/oportunidades?home_mcs=1598" class="btn theme-btn-default btn-lg">Ver Oportunidades</a></h4>
                </div>
            </div>
        </div><!--portfolio item -->
        <div class="col-md-4 col-sm-6 margin-btm-40">
            <div class="portfolio-sec">
                <div class="portfolio-thumnail">
                    <a href="#/oportunidades?home_mcs=1618">
                        <img src="assets/img/countries/russia2.jpg" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="portfolio-desc text-center">
                    <h4 class="portfolio-post-title">Russia</h4>
                    <span class="portfolio-post-cat">Global Entrepreneur</span>
                    <h4><a href="#/oportunidades?home_mcs=1618" class="btn theme-btn-default btn-lg">Ver Oportunidades</a></h4>
                </div>
            </div>
        </div><!--portfolio item -->
    </div><!--row portfolio item-->
</div><!--recent work container end-->

<section id="content-region-2" class="padding-40 parallax-1">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <div class="testimonials" flex-slider>
                    <ul class="slides">
                        <li>
                            <p class="testi-text">"O intercâmbio da AIESEC não só valida o início da minha trajetória na área social, como me mantém parte de uma rede de pessoas, amigos e profissionais super engajados e inovadores"<p>
                                <span class="testi-person">Vitor Belota - Projeto Litro de Luz</span>
                        </li>
                        <li>
                            <p class="testi-text">"Sed fringilla sem sed massa ullamcorper, vitae rutrum justo sodales. Cras sed iaculis enim. Sed aliquet viverra nisl a tristique. Curabitur vitae mauris sem. Pellentesque iaculis nibh leo, mattis aliquet arcu tincidunt at."<p>
                                <span class="testi-person">John terry - company inc  </span>
                        </li>
                        <li>
                            <p class="testi-text">"Cras adipiscing odio nunc, non laoreet urna suscipit ac. Pellentesque congue egestas risus viverra pharetra. Morbi pretium orci magna, vitae mattis nisl viverra eleifend. Vestibulum euismod erat non ligula hendrerit tincidunt."<p>
                                <span class="testi-person">victoria - company inc </span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section> <!--testimonials section end here-->
<div class="newsletter-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h3>Solicite uma consultoria local</h3>
                <p>
                    Entraremos em contato para lhe guiar melhor pelas nossas oportunidades.
                </p>
            </div>
        </div><!--row-->

        <div class="row">
            <div class="col-sm-4 col-sm-offset-4 text-center">
                <form method="post" action="#" class="form-subscribe row">
                    <div class="col-md-6 margin-btm-10">
                        <input type="text" class="form-control input-lg" placeholder="Nome">
                    </div>
                    <div class="col-md-6 margin-btm-10">
                        <input type="text" class="form-control input-lg" placeholder="Sobrenome">
                    </div>
                    <div class="col-md-6 margin-btm-10">
                        <input type="text" class="form-control input-lg" placeholder="Email">
                    </div>
                    <div class="col-md-6 margin-btm-10">
                        <input type="text" class="form-control input-lg" placeholder="Telefone">
                    </div>
                    <div class="col-md-12 margin-btm-10">
                        <input type="text" class="form-control input-lg" placeholder="AIESEC mais próxima">
                    </div>
                    <div class="col-md-12 margin-btm-10">
                        <input type="text" class="form-control input-lg" placeholder="Interesse em viajar">
                    </div>
                    <div class="col-md-12">
                        <button type="submit" name="submit" class="btn theme-btn-color btn-block btn-lg">Solicitar Consutoria</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>