        <div class="space-50"></div>
        <div class="container" style="padding-left:70px ;padding-right: 70px;">
            <div class="row">
                <div class="col-md-7" style="padding-right: 0px;">
                    <div class="col-md-12">
                        <h2>Cultural Farm</h2>
                    </div>
                    <div class="col-md-10" style="margin-top: -10px;">
                        <h5>O projeto será realizado na ONG <strong>Viva de la Ruela</strong> em <strong>Maringá, Brazil</strong> com período aproximado de <strong>6 semanas</strong></h5>
                        <h5></h5>
                    </div>
                </div><!--blog content-->
                <div class="col-md-5" style="padding-left: 30px;">
                    <div class="sidebar-box">
                        <div style="height: 46px !important;margin-bottom: 6px !important;">
                            <ul class="nav navbar-nav navbar-right">
                                <li class="social-nav">
                                    <a href="https://www.facebook.com/AIESECinBrazil/" target="_blank" style="padding: 5; font-size: 30px;"><i class="ion-social-facebook"></i></a>
                                </li>
                                <li class="social-nav">
                                    <a href="https://www.youtube.com/user/AIESECinBrazil" target="_blank" style="padding: 5; font-size: 30px;"><i class="ion-social-youtube"></i></a>
                                </li>
                                <li class="social-nav">
                                <a href="https://www.instagram.com/aiesecnobrasil/" target="_blank" style="padding: 5; font-size: 30px;"><i class="ion-social-instagram"></i></a>
                                </li>
                            </ul>                            
                        </div>                        
                    </div>
                    <div class="sidebar-box">
                        <div class="embed-responsive embed-responsive-16by9">
                            <iframe class="embed-responsive-item" src="//www.youtube.com/embed/u7o7b03OLRM?rel=0&autoplay=0&showinfo=0&controls=0">
                            </iframe>
                        </div>
                    </div><!--sidebar-box-->
                    <div class="sidebar-box">
                        <h4>Benefícios</h4>
                        <p>Lorem Ipsum é simplesmente uma simulação de texto da indústria tipográfica e de impressos, e vem sendo utilizado desde o século XVI, quando um impressor desconhecido pegou uma bandeja de tipos e os embaralhou para fazer um livro de modelos de tipos. Lorem Ipsum sobreviveu não só a cinco séculos, como também ao salto para a editoração eletrônica, permanecendo essencialmente inalterado.</p>
                        <hr>
                    <div class="sidebar-box">
                        <h4>recent post</h4>
                        <div class="recent">
                            <span>
                                <img src="assets/img/blog/blog-1.jpg" class="img-responsive" alt="">
                            </span>
                            <p><a href="#" class="hover-color">There are many  embarrassing hidden in the middle of text.</a></p>
                            <span class="recent-date">On 27 may in office.</span>
                        </div>
                        <div class="recent">
                            <span>
                                <img src="assets/img/blog/blog-2.jpg" class="img-responsive" alt="">
                            </span>
                            <p><a href="#" class="hover-color">There are many  embarrassing hidden in the middle of text.</a></p>
                            <span class="recent-date">On 27 may in office.</span>
                        </div>
                        <div class="recent">
                            <span>
                                <img src="assets/img/blog/blog-3.jpg" class="img-responsive" alt="">
                            </span>
                            <p><a href="#" class="hover-color">There are many  embarrassing hidden in the middle of text.</a></p>
                            <span class="recent-date">On 27 may in office.</span>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <hr>
                    <div class="sidebar-box">
                        <h4>Elsewhere</h4>
                        <ul class=" list-inline social-btn">
                            <li><a href="#"><i class="ion-social-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Like On Facebook"></i></a></li>
                            <li><a href="#"><i class="ion-social-twitter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On twitter"></i></a></li>
                            <li><a href="#"><i class="ion-social-googleplus" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On googleplus"></i></a></li>
                            <li><a href="#"><i class="ion-social-pinterest" data-toggle="tooltip" data-placement="top" title="" data-original-title="pinterest"></i></a></li>
                            <li><a href="#"><i class="ion-social-skype" data-toggle="tooltip" data-placement="top" title="" data-original-title="skype"></i></a></li>
                        </ul>
                    </div><hr>
                </div><!--sideabr blog end -->
            </div>

        </div><!--blog sidebar page content end here-->

        <div class="bottombar">
            <div class="container" style="padding-left:70px ;padding-right: 70px;">
                <div class="row">
                    <div class="col-md-6">
                        
                        <p class="customize2_top_font">Início do projeto partir de <strong>19/02/2016</strong></p>

                    </div>
                    <div class="col-md-6 text-right customize_top">

                        <button class="btn btn-primary" style="padding: 14px 20px;text-transform: none;font-size: 1em;"><i class="ion-forward"></i> Ir para próxima etapa</button>
                        
                    </div>                
                </div>
            </div>
        </div>