<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center footer-bottom">
                <a href="index.html"> <img src="assets/img/aiesec.png" alt=""></a>
                <div class="space-20"></div>
                <span>&copy;2016. AIESEC no Brasil</span>
                <div class="space-20"></div>
                <div class="footer-col">
                    <ul class=" list-inline social-btn">
                        <li><a href="#"><i class="ion-social-facebook" data-toggle="tooltip" data-placement="top" title="" data-original-title="Like On Facebook"></i></a></li>
                        <li><a href="#"><i class="ion-social-twitter" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On twitter"></i></a></li>
                        <li><a href="#"><i class="ion-social-instagram" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On Instagram"></i></a></li>
                        <li><a href="#"><i class="ion-social-youtube" data-toggle="tooltip" data-placement="top" title="" data-original-title="Follow On Youtube"></i></a></li>
                    </ul>
                </div><!--footer social col-->
            </div>
        </div><!--footer copyright row end-->
    </div><!--container-->
</div><!--footer main end-->