<header class="header-main">
    <div loadapp></div>
    <div class="navbar navbar-default yamm" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="index.html"><img src="assets/img/aiesec.png" class="img-responsive" alt="AIESEC"></a>
            </div>
            <div class="navbar-collapse collapse">

                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Hospede um intercambista</a></li>
                    <li><a href="#">Cadastrar</a></li>
                    <li><a href="#">Entrar</a></li>
                    <!--menu Features li end here-->   
                </ul>

            </div><!--/.nav-collapse -->
        </div><!--/.container-->
    </div><!--navigation end-->

</header><!--header main end-->